<a href="https://colab.research.google.com/github/migapipo/GoogleCodeLab/blob/master/Pedestrain_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Mount drive
from google.colab import drive
drive.mount('/content/drive')



# Exploratory Data Analysis - Pedestrian Data

##1.1 Overview of features and relation to target

- How many rows and columns are there?
- What are the names of the features (columns)?
- Which features are numerical, which are categorical?
- How many values are missing?

The **shape** and **info** methods answer these questions

**head** displays some rows of the dataset
**describe** gives a summary of the statistics (only for numerical columns)

In [0]:
import pandas as pd
import numpy as np
# Load data
df_sensor_locations = pd.read_csv("/content/pedestrian_data/Pedestrian_Counting_System_-_Sensor_Locations.csv")

In [0]:
df_sensor_locations.shape

(62, 11)

- Dataset comprises of 62 rows and 11 columns.

In [0]:
df_sensor_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 11 columns):
sensor_id             62 non-null int64
sensor_description    62 non-null object
sensor_name           62 non-null object
installation_date     62 non-null object
status                62 non-null object
note                  5 non-null object
direction_1           58 non-null object
direction_2           58 non-null object
latitude              62 non-null float64
longitude             62 non-null float64
location              62 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 5.5+ KB

- Data has *float*, *integer* and *object* values.
- No variable column has null/missing values.

In [0]:
df_sensor_locations.head()

   sensor_id  ...                      location
0         59  ...  (-37.80825648, 144.96304859)
1         23  ...  (-37.81909256, 144.95452749)
2         20  ...   (-37.81172913, 144.9682466)
3         34  ...   (-37.81537985, 144.9741505)
4         57  ...   (-37.8176735, 144.95025595)

[5 rows x 11 columns]

To take a closer look at the data took help of “ .head()”function of pandas library which returns first five observations of the data set.Similarly “.tail()” returns last five observations of the data set.